table, th, td {
    border: 1.5px solid black;
    border-collapse: collapse;
}

th, td {
    padding: 5px;
}

td {
    height: 110px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

.centerAlign {
    text-align: center;
}