<link href="~/css/table.css" rel="stylesheet" />

<body>

    <div onload="myFunc(1)" id="replace">
        <center>
            <img class="center" src="~/img/giphy.gif" alt="Loading" />
        </center>
    </div>
</body>

@section scripts{
    <script src="~/js/table.js"></script>
}